body {
    background: white;
    color: gray;
}

h1, h2, h3, h4, h5, h6 {
	color: gray;
}

a:link, a:visited {
	color: green;
}

a:hover {
	color: blue;
}

a:active {
	color: red;
}

input {
    color: green;
	background-color: lightgreen;
	box-shadow: 5px 5px 10px rgba(229, 255, 0, 0.5);
}

button {
	background-color: green;
	color: white;
}

p {
	background-color: rgba(0, 0, 0, 0.1);
	color: gray;
}

select {
	color: gray;
	background-color: lightgray;
}

.container {
	background-color: rgba(0, 0, 0,0.1);
}